<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297888306574-qc0j36vb7i0np97utda4ciuj90m85mql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297888306574-qc0j36vb7i0np97utda4ciuj90m85mql</string>
	<key>API_KEY</key>
	<string>AIzaSyDUpVdTjM20HgfcuKMZcqBCX2dYizvSWx0</string>
	<key>GCM_SENDER_ID</key>
	<string>297888306574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alomat.todo</string>
	<key>PROJECT_ID</key>
	<string>todoflutter-f79c3</string>
	<key>STORAGE_BUCKET</key>
	<string>todoflutter-f79c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297888306574:ios:1c0d9e064abcdd3eb380df</string>
</dict>
</plist>